@use "./config.scss" as *;

// 获取变量名
@function join-var-name($list) {
  $name: '--' + $namespace;

  @each $item in $list {
    @if $item != '' {
      $name: $name + '-' + $item;
    }
  }

  @return $name;
}

@function get-css-var-name($args...) {
  @return joinVarName($args);
}

@function get-css-var($args...) {
  @return var(#{join-var-name($args)});
}

// bem规范
@function bem($block, $element: '', $modifier: '') {
  $name: config.$namespace + config.$common-separator + $block;

  @if $element != '' {
    $name: $name + config.$element-separator + $element;
  }

  @if $modifier != '' {
    $name: $name + config.$modifier-separator + $modifier;
  }

  @return $name;
}
