@use "./config.scss" as *;
@use "../common/var.scss" as *;

// BEM
@mixin b($block) {
  $b: $namespace + $common-separator + $block !global;

  .#{$b} {
    @content;
  }
}

@mixin e($element) {
  $e: $element !global;
  $be: $b + $element-separator + $element !global;

  @at-root {
    #{'.' + $be} {
      @content;
    }
  }
}

@mixin m($modifier) {
  $m: $modifier !global;
  $selector: &;
  $bem: $selector + $modifier-separator + $modifier !global;

  @at-root {
    #{$bem} {
      @content;
    }
  }
}

@mixin when($state) {
  @at-root {
    &.#{$state-prefix + $state} {
      @content;
    }
  }
}

@mixin res($key, $map: $breakpoints) {
  @if map-has-key($map, $key) {
    @media only screen and #{unquote(map-get($map, $key))} {
      @content;
    }
  } @else {
    @warn "没找到: `#{$map}`";
  }
}
