@mixin utils-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin utils-inline-flex-center {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

@mixin utils-close-icon {
  position: relative;

  &::after, &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--y-color-border);
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@mixin utils-arrow($size, $direction) {
  @if  $direction == 'top' {
    border-right: $size solid transparent;
    border-left: $size solid transparent;
    border-top: $size solid var(--y-arrow-bg);
  } @else if $direction == 'bottom' {
    border-right: $size solid transparent;
    border-left: $size solid transparent;
    border-bottom: $size solid var(--y-arrow-bg);
  } @else if $direction == 'left' {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-left: $size solid var(--y-arrow-bg);
  } @else  {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-right: $size solid var(--y-arrow-bg);
  }
}
