@mixin utils-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin utils-inline-flex-center {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

@mixin utils-close-icon($size: 1px, $size1: 70%, $color: var(--y-color-text-tertiary)) {
  position: relative;
  display: inline-flex;
  cursor: pointer;

  &::after, &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: $size;
    height: $size1;
    background-color: $color;
  }

  &::before {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(45deg);
  }
}

@mixin utils-arrow-fill($size, $direction) {
  @if  $direction == 'top' {
    border-right: $size solid transparent;
    border-left: $size solid transparent;
    border-top: $size solid var(--y-arrow-bg);
  } @else if $direction == 'bottom' {
    border-right: $size solid transparent;
    border-left: $size solid transparent;
    border-bottom: $size solid var(--y-arrow-bg);
  } @else if $direction == 'left' {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-left: $size solid var(--y-arrow-bg);
  } @else  {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-right: $size solid var(--y-arrow-bg);
  }
}

@mixin utils-arrow() {
  &::after, &::before {
    position: absolute;
    width: 8px;
    height: 1.5px;
    background-color: currentcolor;
    border-radius: 6px;
    transition: transform .3s cubic-bezier(.645,.045,.355,1);
    content: "";
  }

  &.is-positive {
    &::before {
      transform: rotate(-45deg) translateX(3.5px);
    }
  
    &::after {
      transform: rotate(45deg) translateX(-3.5px);
    }
  }

  &.is-opposite {
    &::before {
      transform: rotate(45deg) translateX(3.5px);
    }
  
    &::after {
      transform: rotate(-45deg) translateX(-3.5px);
    }
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@mixin loading() {
  border: 1px solid var(--y-color-primary);
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: loading 1s linear infinite;
  margin: 0 auto;
}
