@use "./mixins/mixins.scss" as *;
@use "./mixins/function.scss" as *;

// 设置变量
@include b(button) {
  --y-button-text-color: var(--y-color-text-1);
  --y-button-border-color: var(--y-color-border-1);
  --y-button-hover-text-color: var(--y-base-color);
  --y-button-hover-bg-color: var(--y-color-primary-1);
  --y-button-hover-border-color: var(--y-color-primary-3);
  --y-button-disabled-opacity: var(--y-color-disabled-opacity);
}

@include b(button) {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  white-space: nowrap;
  outline: none;
  transition: all .2s cubic-bezier(.645,.045,.355,1);
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  user-select: none;
  vertical-align: middle;
  color: get-css-var('button', 'text-color');
  background-color: get-css-var('button', 'bg-color');
  border: 1px solid;
  border-color: get-css-var('button', 'border-color');
  padding: 8px 15px;
  border-radius: 4px;

  &:hover,
  &:focus {
    color: get-css-var('button', 'hover', 'text-color');
    border-color: get-css-var('button', 'hover', 'border-color');
    background-color: get-css-var('button', 'hover', 'bg-color');
    outline: none;
  }

  &:active {
    // color: ;
  }

  @include when(round) {
    border-radius: 500px;
  }

  @include when(circle) {
    border-radius: 50%;
    padding: 8px;
  }

  @include when(disabled) {
    cursor: not-allowed;
    opacity: var(--y-button-disabled-opacity);
  }
}
