@use "./mixins/config.scss" as *;
@use "./mixins/mixins.scss" as *;
@use "./mixins/function.scss" as *;

@include b(button-group) {
  --y-button-group-border-color: var(--y-color-border);

  display: inline-block;
  vertical-align: middle;

  & .#{$namespace}-button {
    border-left-color: var(--y-button-group-border-color);
    border-right-color: var(--y-button-group-border-color);

    &[class*="is-type-"] {
      border-left-color: #fff;
      border-right-color: #fff;
    }

    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;

      &[class*="is-type-"] { 
        border-left-color: transparent;
      }
    }

    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

      &[class*="is-type-"] {
        border-right-color: transparent;
      }
    }

    &:not(:first-child, :last-child) {
      border-radius: 0;
    }

    &:not(:last-child) {
      margin-right: -1px;
    }

    &:first-child:last-child {
      &.is-round {
        border-radius: get-css-var('border-radius', 'round');
      }

      &.is-circle {
        border-radius: 50%;
      }
    }
  }
}
