@use 'sass:math';
@use "./mixins/config.scss" as *;
@use "./mixins/mixins.scss" as *;

[class*='#{$namespace}-col-'] {
  box-sizing: border-box;

  @include when(guttered) {
    display: block;
    min-height: 1px;
  }
}

.#{$namespace}-col-0 {
  display: none;

  @include when(guttered) {
    display: none;
  }
}

@for $i from 0 through 24 {
  $num: (math.div(1, 24) * $i * 100) * 1%;

  .#{$namespace}-col-#{$i} {
    flex: 0 0 $num;
    max-width: $num;
  }

  .#{$namespace}-col-offset-#{$i} {
    margin-left: $num;
  }

  .#{$namespace}-col-pull-#{$i} {
    position: relative;
    right: $num;
  }

  .#{$namespace}-col-push-#{$i} {
    position: relative;
    left: $num;
  }
}
