@use "./mixins/mixins.scss" as *;
@use "./mixins/utils.scss" as *;
@use "./common/var.scss" as *;
@use "./mixins/config.scss" as *;

@include b(date-picker) {
  --y-date-picker-border-color: var(--y-color-border);
  --y-date-picker-icon-color: var(--y-color-text-tertiary);
  --y-date-picker-bar-bg-color: var(--y-color-primary);
  --y-date-picker-clear: var(--y-color-text-quaternary);
  --y-date-picker-clear-hover: var(--y-color-text-tertiary);

  @include e(title) {
    position: relative;
    text-align: center;
    border: 1px solid var(--y-date-picker-border-color);
    border-radius: 4px;

    @include m(icon) {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 5px;
      color: var(--y-date-picker-icon-color);

      &::before{
        content: "";
        display: block;
        width: 15px;
        height: 1.5px;
        background-color: currentcolor;
      }
    }

    @include m(arrow) {
      display: flex;
      align-items: center;
      justify-content: center;
      transform: rotateZ(90deg);

      @include utils-arrow;
    }

    @include m(bar) {
      position: absolute;
      left: 0;
      bottom: 0;
      width: calc((100% - 20px) / 2);
      height: 2px;
      background-color: var(--y-date-picker-bar-bg-color);
      transition: 0.3s transform;
    }
  }

  @include e(clear) {
    margin-right: 8px;
    position: relative;
    display: inline-flex;
    width: 10px;
    height: 10px;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--y-date-picker-clear);
    font-size: 30px;
  
    &::before,
    &::after {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 1px;
      height: 50%;
      content: '';
      background-color: rgb(255 255 255 / 70%);
    }
  
    &::before {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  
    &::after {
      transform: translate(-50%, -50%) rotate(45deg);
    }
  
    &:hover {
      background-color: var(--y-date-picker-clear-hover);
    }
  }

  @include e(top) {
    padding: 8px 0;
    border-bottom: 1px solid var(--y-color-border);

    @include m(icon) {
      width: 25px;
      margin-left: 10px; 

      .month {
        display: flex;
        align-items: center;
        justify-content: center;
        transform: rotateZ(-90deg); 

        @include utils-arrow;
      }

      .date {
        display: flex;
        align-items: center;
        justify-content: center;
        transform: rotateZ(-90deg); 

        @include utils-arrow;
      }
    }

    @include m(text) {
      flex: 1;
      text-align: center;
    }
  }

  @include e(content) {
    --y-date-picker-bg-color: var(--y-color-bg-elevated);

    background-color: var(--y-date-picker-bg-color);
    box-shadow: $box-shadow-secondary;
    color: var(--y-pop-confirm-text-color);
  }
}

@include b(date-panel) {
  --y-date-panel-border-color: var(--y-color-border);
  --y-date-panel-date-alike-color: var(--y-color-text-tertiary);
  --y-date-panel-date-disabled-color: var(--y-color-text-tertiary);
  --y-date-panel-date-active-color: var(--y-color-primary);
  --y-date-panel-date-section-color: var(--y-color-primary-1);

  width: 252px;

  @include e(weeks) {
    @include m(week) {
      min-width: 36px;
      line-height: 36px;
      text-align: center;
    }
  }

  @include e(dates) {
    @include m(date) {
      position: relative;
      padding: 5px 0;
      display: flex;
      min-width: 36px;
      align-items: center;
      justify-content: center;
      text-align: center;
      cursor: pointer;
      box-sizing: border-box;

      @include when(alike) {
        color: var(--y-date-panel-date-alike-color);
        cursor: default;
      }

      @include when('disabled') {
        cursor: not-allowed;
        color: var(--y-date-panel-date-disabled-color);
      }

      @include when(section) {
        &::before {
          position: absolute;
          content: '';
          display: block;
          width: 100%;
          height: 24px;
          z-index: 1;
          background-color: var(--y-date-panel-date-section-color);
        }
      }

      @include when(active) {
        &::before {
          width: 50%;
        }

        .#{$be + $modifier-separator + 'text'} {
          background-color: var(--y-date-panel-date-active-color);
          color: #fff;
          border-radius: 3px;
        }
      }

      @include when(first) {
        &::before {
          right: 0;
        }
        .#{$be + $modifier-separator + 'text'} {
          border-end-end-radius: 0;
          border-start-end-radius: 0;
        }
      }

      @include when(last) {
        &::before {
          left: 0;
        }
        .#{$be + $modifier-separator + 'text'} {
          border-start-start-radius: 0;
          border-end-start-radius: 0;
        }
      }
    }

    @include m(text) {
      position: relative;
      z-index: 2;
      display: block;
      min-width: 24px;
      height: 24px;
      text-align: center;
      line-height: 24px;
    }
  }
}

@include b(date-arrow) {
  --y-date-arrow-color: var(--y-color-text-secondary);

  width: 25px;
  color: var(--y-date-arrow-color);

  @include when(reverse) {
    transform: rotateY(-180deg);
  }

  i.icon {
    display: flex; 
    align-items: center;
    justify-content: center;
    transform: rotateZ(-90deg);

    @include utils-arrow;
    
    &::before, &::after {
      cursor: pointer;
    }
  }

  @include e(month) {
    cursor: pointer;
  }

  @include e(date) {
    cursor: pointer;
  }
}

