@use "./mixins/mixins.scss" as *;
@use "./mixins/utils.scss" as *;
@use "./common/var.scss" as *;

@include b(date-picker) {
  --y-date-picker-border-color: var(--y-color-border);
  --y-date-picker-icon-color: var(--y-color-text-tertiary);

  @include e(title) {
    text-align: center;
    border: 1px solid var(--y-date-picker-border-color);
    border-radius: 4px;

    @include m(icon) {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 5px;
      color: var(--y-date-picker-icon-color);

      &::before{
        content: "";
        display: block;
        width: 15px;
        height: 1.5px;
        background-color: currentcolor;
      }
    }

    @include m(arrow) {
      display: flex;
      align-items: center;
      justify-content: center;
      transform: rotateZ(90deg);

      @include utils-arrow;
    }
  }

  @include e(top) {
    padding: 8px 0;
    border-bottom: 1px solid var(--y-color-border);

    @include m(icon) {
      width: 25px;
      margin-left: 10px; 

      .month {
        display: flex;
        align-items: center;
        justify-content: center;
        transform: rotateZ(-90deg); 

        @include utils-arrow;
      }

      .date {
        display: flex;
        align-items: center;
        justify-content: center;
        transform: rotateZ(-90deg); 

        @include utils-arrow;
      }
    }

    @include m(text) {
      flex: 1;
      text-align: center;
    }
  }

  @include e(content) {
    --y-date-picker-bg-color: var(--y-color-bg-elevated);

    background-color: var(--y-date-picker-bg-color);
    box-shadow: $box-shadow-secondary;
    color: var(--y-pop-confirm-text-color);
  }
}

@include b(date-panel) {
  --y-date-panel-border-color: var(--y-color-border);
  --y-date-panel-date-alike-color: var(--y-color-text-tertiary);
  --y-date-panel-date-disabled-color: var(--y-color-text-tertiary);

  width: 252px;

  @include e(weeks) {
    @include m(week) {
      min-width: 36px;
      line-height: 36px;
      text-align: center;
    }
  }

  @include e(dates) {
    @include m(date) {
      padding: 5px 0;
      width: 36px;
      height: 36px;
      text-align: center;
      vertical-align: center;
      cursor: pointer;
      box-sizing: border-box;

      @include when(alike) {
        color: var(--y-date-panel-date-alike-color);
        cursor: default;
      }

      @include when('disabled') {
        cursor: not-allowed;
        color: var(--y-date-panel-date-disabled-color);
      }
    }
  }
}

@include b(date-arrow) {
  --y-date-arrow-color: var(--y-color-text-secondary);

  width: 25px;
  color: var(--y-date-arrow-color);

  @include when(reverse) {
    transform: rotateY(-180deg);
  }

  i.icon {
    display: flex; 
    align-items: center;
    justify-content: center;
    transform: rotateZ(-90deg);

    @include utils-arrow;
    
    &::before, &::after {
      cursor: pointer;
    }
  }

  @include e(month) {
    cursor: pointer;
  }

  @include e(date) {
    cursor: pointer;
  }
}

