@use "./mixins/mixins.scss" as *;

@include b(divider) {
  --y-divider-text-color: var(--y-color-text);
  --y-divider-border-color: var(--y-color-border-secondary);
}

@include b(divider) {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 16px 0;
  line-height: 1;

  &::before, &::after {
    content: '';
    border-top: 1px solid var(--y-divider-border-color);
  }

  @include when(vertical) {
    height: 1em;
    width: 1px;
    margin-inline: 8px;
    display: inline-block;
    margin-block: 0;
    vertical-align: middle;

    &::before, &::after {
      content: '';
      display: block;
      height: 50%;
      border-left: 1px solid var(--y-divider-border-color) !important;
    }
  }
  
  @include when (dashed) {
    &::before, &::after {
      border-style: dashed;
    }
  }

  @include when(left) {
    &::before {
      width: 5%;
    }
  
    &::after {
      width: 95%;
    }
  }

  @include when(center) {
    &::before {
      width: 50%;
    }
  
    &::after {
      width: 50%;
    }
  }

  @include when(right) {
    &::before {
      width: 95%;
    }
  
    &::after {
      width: 5%;
    }
  }

  @include e(text) {
    margin: 0 20px;
    font-weight: 500;
    white-space: nowrap;
    color: var(--y-divider-text-color);
  }
}