@use "./mixins/mixins.scss" as *;
@use "./mixins/function.scss" as *;
@use "./mixins/config.scss" as *;
@use "./common/var.scss" as *;

@include b(dropdown) {
  --y-dropdown-bg-color: var(--y-color-bg-elevated);

  background-color: var(--y-dropdown-bg-color);
  box-shadow: $box-shadow-secondary;
  color: var(--y-pop-confirm-text-color); 

  @include e(title) {
    position: relative;
    display: inline-flex;
    color: var(--y-color-text);
    font-size: var(--y-font-size);
  }

  @include e(menus) {
    padding: 0;
    margin: 0;
    max-height: 240px;  
  }

  @include e(menu) {
    --y-hover-text-color: var(--y-color-primary);
    --y-hover-bg-color: var(--y-color-primary-3);

    padding: 5px 12px;
    list-style: none;
    cursor: pointer;

    &:hover {
      color: var(--y-hover-text-color);
      background-color: var(--y-hover-bg-color);
    }
  }
}
