@use "./mixins/mixins.scss" as *;
@use "./mixins/function.scss" as *;
@use "./mixins/config.scss" as *;

@include b(dropdown) {
  @include e(title) {
    display: inline-flex;
    color: var(--y-color-text);
  }

  @include e(content) {
    --y-bg-color-overlay: var(--y-color-bg-elevated);
    --y-box-shadow: 0 0 6px var(--y-color-fill-quaternary);
  
    padding: 5px 0;
    border-radius: 3px;
    color: var(--y-color-text);
    box-shadow: var(--y-box-shadow);
    background-color: var(--y-bg-color-overlay);

    
  }
}
