@use "./mixins/mixins.scss" as *;
@use "sass:list";

@include b(flex) {
  display: flex;

  @include when(vertical) {
    flex-direction: column;
  }

  @include when(wrap) {
    flex-wrap: wrap;
  }

  @each $type in (flex-start, center, flex-end, space-between, space-around, space-evenly) {
    @include when(#{'justify-' + $type}) {
      justify-content: $type;
    }
  }

  @each $align in (flex-start, center, flex-end) {
    @include when(#{'align-' + $align}) {
      align-items: $align;
    }
  }

  @each $gap in ((small, 8px), (middle, 16px), (large, 24px)) {
    $value: list.nth($gap, 2);

    @include when(#{'gap-' + list.nth($gap, 1)}) {
      gap: $value;
    }
  }

  @include when(row-reverse) {
    flex-direction: row-reverse;
  }

  @include when(column-reverse) {
    flex-direction: column-reverse;
  }

  @include when(inline) {
    display: inline-block;
  }
}
