@use "./mixins/mixins.scss" as *;
@use "./mixins/function.scss" as *;

@include b(form-item) {
  --y-form-item-text-color: var(--y-color-text-1);
  --y-form-item-font-size: var(--y-font-size);
  --y-form-item-error-font-size: var(--y-font-size-ms);
  --y-form-item-error-color: var(--y-color-error);
  --y-form-item-disabled-opacity: var(--y-disabled-opacity);
  --y-form-item-height: var(--y-height-m);
}

@include b(form-item) {
  padding: 0;
  margin: 0;
  position: relative;
  display: flex;
  width: 100%;
  font-size: var(--y-form-item-font-size);
  color: var(--y-form-item-text-color);

  @include when(column) {
    flex-direction: column;
  }

  @include when(disabled) {
    cursor: not-allowed;
    opacity: var(--y-form-item-disabled-opacity);
  }

  @include e(label) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 8px;
    white-space: nowrap;
    vertical-align: middle;
    height: var(--y-form-item-height);
    line-height: var(--y-form-item-height);
  }

  @include e(content) {
    flex: 1;
    min-height: var(--y-form-item-height);
    line-height: var(--y-form-item-height);
  }

  @include e(error) {
    position: absolute;
    top: 100%;
    left: 0;
    font-size: var(--y-form-item-error-font-size);
    color: var(--y-form-item-error-color);
  }
}
