@use "./mixins/mixins.scss" as *;
@use "./mixins/function.scss" as *;
@use "./mixins/utils.scss" as *;

@include b(input) {
  --y-input-padding-block: 4px;
  --y-input-padding-block-sm: 0px;
  --y-input-padding-block-lg: 7px;
  --y-input-padding-inline: 11px;
  --y-input-padding-inline-sm: 7px;
  --y-input-padding-inline-lg: 11px;
  --y-input-input-font-size: 14px;
  --y-input-input-font-size-lg: 16px;
  --y-input-input-font-size-sm: 14px;
  --y-input-text-color: var(--y-color-text);
  --y-input-border-color: var(--y-color-border);
  --y-input-hover-border-color: var(--y-color-primary-8);
  --y-input-focus-border-color: var(--y-color-primary-8);
  --y-input-focus-shadow-color: var(--y-color-primary-1);
  --y-input-disabled-opacity: var(--y-disabled-opacity);
  --y-input-font-size: var(--y-font-size);
  --y-input-clear: var(--y-color-text-quaternary);
  --y-input-clear-hover: var(--y-color-text-tertiary);

  display: inline-flex;
  width: 100%;

  @include e(wrapper) {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    flex: 1;
  }

  @include e(input) {
    padding: var(--y-input-padding-block) var(--y-input-padding-inline);
    display: block;
    flex: 1;
    align-items: center;
    line-height: 1.5714;
    outline: none;
    border: none;
    font-size: var(--y-input-font-size);
    color: var(--y-input-text-color);
    background-color: transparent;

    &:focus {
      outline: none;
      outline: 0;
    }

    @include when(small) {
      padding: var(--y-input-padding-block-sm) var(--y-input-padding-inline-sm);
      font-size: var(--y-input-input-font-size-sm);
    }

    @include when(large) {
      padding: var(--y-input-padding-block-lg) var(--y-input-padding-inline-lg);
      font-size: var(--y-input-input-font-size-lg);
    }
  }

  @include e(input-outlined) {
    border-width: 1px;
    border-style: solid;
    border-radius: 6px;
    border-color: var(--y-input-border-color);

    @include when(disabled) {
      cursor: not-allowed;
      opacity: var(--y-input-disabled-opacity);

      & * {
        cursor: not-allowed;
      }
    }

    @include when(focus) {
      border-color: var(--y-input-focus-border-color);
      box-shadow: 0 0 0 2px var(--y-input-focus-shadow-color);
    }

    &:not(.is-disabled):hover {
      border-color: var(--y-input-hover-border-color);
    }
  }

  @include e(textarea) {
    padding: var(--y-input-padding-block) var(--y-input-padding-inline);
    display: block;
    outline: none;
    border: none;
    flex: 1;
    max-width: 100%;
    background-color: transparent;
    line-height: 1.5;
    font-size: var(--y-input-font-size);
    color: var(--y-input-text-color);
    scrollbar-width: none;
    overflow-y: auto;
    overflow-x: hidden;
    resize: none;

    &:focus {
      outline: none;
      outline: 0;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  @include e('password') {
    margin-right: 8px;
  }

  @include e(prefix-text) {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 8px;
    border-right: 1px solid var(--y-input-border-color);
    background-color: var(--y-color-fill-tertiary);
  }

  @include e(suffix-text) {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 8px;
    border-left: 1px solid var(--y-input-border-color);
    background-color: var(--y-color-fill-tertiary);
  }

  @include e(clear) {
    margin-right: 8px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--y-input-clear);

    @include utils-close-icon(1px, 50%, rgb(255 255 255 / 70%));

    &:hover {
      background-color: var(--y-input-clear-hover);
    }
  }

  @include e(prefix) {
    display: inline-flex;
    align-items: center;
  }

  @include e(suffix) {
    display: inline-flex;
    align-items: center;
  }

}

@keyframes y-shake-enter {
  0%, 100% {
    right: 0;
  }

  12.5%, 62.5% {
    right: -0.3rem;
  }

  37.5%, 87.5% {
    right: 0.3rem;
  }
}

.y-input-shake-enter-active {
  animation: y-shake-enter 0.2s;
}