@use "./mixins/mixins.scss" as *;
@use "./mixins/function.scss" as *;

@include b(layout) {
  --y-layout-text-color: var(--y-color-text);
  --y-layout-font-size: var(--y-font-size);
  --y-layout-bg-color: var(--y-color-bg-layout);
  --y-header-height: 64px;
  --y-layout-header-bg-color: var(--y-color-bg-container);
  --y-layout-sidebar-bg-color: var(--y-color-bg-container);
}

@include b(layout) {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: auto;
  box-sizing: border-box;
  font-size: var(--y-layout-font-size);
  color: var(--y-layout-text-color);
  background-color: var(--y-layout-bg-color);

  @include when(absolute) {
    position: absolute;
    inset: 0;
  }

  @include when(sidebar) {
    flex-direction: row;
  }
}

@include b(layout-content) {
  flex: auto;
  min-height: 0;
  background-color: var(--y-layout-bg-color);
}

@include b(layout-header) {
  box-sizing: border-box;
  height: var(--y-header-height);
  height: 64px;
  background-color: var(--y-layout-header-bg-color);
}

@include b(layout-footer) {
  padding: 24px;
}

@include b(layout-sidebar) {
  --y-sidebar-width: 250px
    --y-sidebar-button-border-color: var(--y-color-border-secondary);

  position: relative;
  box-sizing: border-box;
  width: var(--y-sidebar-width);
  background-color: var(--y-layout-sidebar-bg-color);

  @include e(button) {
    position: absolute;
    top: 50%;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid var(--y-sidebar-button-border-color);
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 6%);
    transform: translateX(50%) translateY(-50%);
    z-index: 10;
  }
}
