@use "./mixins/mixins.scss" as *;
@use "./mixins/function.scss" as *;

@include b(layout) {
  --y-layout-text-color: var(--y-color-text);
  --y-layout-font-size: var(--y-font-size);
  --y-layout-bg-color: var(--y-color-bg-layout);
}

@include b(layout) {
  display: flex;
  flex-direction: column;
  color: var(--y-layout-text-color);
  background-color: var(--y-layout-bg-color);
  position: relative;
  box-sizing: border-box;
  min-height: 100vh;
}

@include b(layout-header) {
  --y-header-bg-color: var(--y-color-bg-container);
  --y-header-border-color: var(--y-color-border-secondary);

  height: 64px;
  line-height: 64px;
  border-bottom: 1px solid var(--y-header-border-color);
  background-color: var(--y-header-bg-color);
}

@include b(layout-sidebar) {
  --y-sidebar-bg-color: var(--y-color-bg-container);
  --y-sidebar-border-color: var(--y-color-border-secondary);

  width: 250px;
  flex: 1;
  background-color: var(--y-sidebar-bg-color);
  border-right: 1px solid var(--y-header-sidebar-color);
}
