@use "./mixins/mixins.scss" as *;
@use "./mixins/function.scss" as *;

@include b(layout) {
  --y-layout-text-color: var(--y-color-text);
  --y-layout-font-size: var(--y-font-size);
  --y-layout-bg-color: var(--y-color-bg-layout);
  --y-header-height: 64px;
}

@include b(layout) {
  display: flex;
  flex-direction: column;
  color: var(--y-layout-text-color);
  background-color: var(--y-layout-bg-color);
  position: relative;
  box-sizing: border-box;

  @include when(absolute) {
    position: absolute;
    inset: 0;
  }

  @include when(sidebar) {
    flex-direction: row;
  }
}

@include b(layout-header) {
  --y-header-bg-color: var(--y-color-bg-container);
  --y-header-border-color: var(--y-color-border-secondary);

  box-sizing: border-box;
  height: var(--y-header-height);
  line-height: 64px;
  border-bottom: 1px solid var(--y-header-border-color);
  background-color: var(--y-header-bg-color);
}

@include b(layout-sidebar) {
  --y-sidebar-width: 250px;
  --y-sidebar-bg-color: var(--y-color-bg-container);
  --y-sidebar-border-color: var(--y-color-border-secondary);

  box-sizing: border-box;
  width: var(--y-sidebar-width);
  height: 100%;
  background-color: var(--y-sidebar-bg-color);
  border-right: 1px solid var(--y-header-sidebar-color);
}
