@use "./mixins/mixins.scss" as *;
@use "./mixins/function.scss" as *;
@use "./mixins/config.scss" as *;

@include b(message) {
  --y-message-bg-color: var(--y-color-bg-elevated);
  --y-message-text-color: var(--y-color-text);
  --y-message-font-size: var(--y-font-size);

  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  padding: 9px 12px;
  font-size: var(--y-message-font-size);
  color: var(--y-message-text-color);
  background-color: var(--y-message-bg-color);
  transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  border-radius: 4px;
  box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%);

  @include when(center) {
    justify-content: center;
  }
}

.#{$namespace}-message-fade-enter-from,.#{$namespace}-message-fade-leave-to {
  opacity: 0;
  transform: translate(-50%, -100%);
}

.#{$namespace}-message-fade-enter-to, .#{$namespace}-message-fade-leave-from {
  transform: translate(-50%, 0);
  opacity: 1;
}

.#{$namespace}-message-fade-enter-active {
  transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}

.#{$namespace}-message-fade-leave-active {
  transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
