@use "./mixins/mixins.scss" as *;
@use "./mixins/function.scss" as *;
@use "./mixins/config.scss" as *;
@use "./mixins/utils.scss" as *;

@include b(modal) {
  --y-modal-bg-color: var(--y-color-bg-elevated);
  --y-modal-text-color: var(--y-color-text);
  --y-modal-font-size: var(--y-font-size);

  position: fixed;
  left: 0;
  top: 0;
  overflow: visible;

  @include e(body) {
    min-height: 100vh;
    display: flex;
    position: relative;
    box-sizing: border-box;
    min-width: 100vw;
    z-index: 99999; 

    @include m(content) {
      position: relative;
      margin: auto;
      border-radius: 5px;
      font-size: var(--y-modal-font-size);
      color: var(--y-modal-text-color);
      background-color: var(--y-modal-bg-color);
    }

    @include m(buttons) {
      padding: 8px;
    }

    @include m(close) {
      right: 10px;
      top: 10px;
      display: block;
      width: 18px;
      height: 18px;
      cursor: pointer;
      border-radius: 3px;

      @include utils-close-icon;

      position: absolute; 
    }
  }
}

.#{$namespace}-modal-fade-enter-from,
.#{$namespace}-modal-fade-leave-to {
  opacity: 0;
  transform: scale(0.4);
}

.#{$namespace}-modal-fade-leave-from,
.#{$namespace}-modal-fade-enter-to {
  opacity: 1;
  transform: scale(1);
}

.#{$namespace}-modal-fade-leave-active {
  transform-origin: inherit;
  transition: opacity 0.25s cubic-bezier(.4, 0, 1, 1), transform 0.25s cubic-bezier(.4, 0, 1, 1);
}

.#{$namespace}-modal-fade-enter-active {
  transform-origin: inherit;
  transition: opacity 0.25s cubic-bezier(0, 0, .2, 1), transform 0.25s cubic-bezier(0, 0, .2, 1);
}