@use "./mixins/mixins.scss" as *;
@use "./common/var.scss" as *;
@use "./mixins/utils.scss" as *;

@include b(select) {
  --y-select-arrow-color: var(--y-color-text-quaternary);
  --y-select-placeholder-color: var(--y-color-text-quaternary);--y-select-padding-block: 4px;
  --y-select-padding-block-sm: 0px;
  --y-select-padding-block-lg: 7px;
  --y-select-padding-inline: 11px;
  --y-select-padding-inline-sm: 7px;
  --y-select-padding-inline-lg: 11px;
  --y-select-font-size: 14px;
  --y-select-font-size-lg: 16px;
  --y-select-font-size-sm: 14px;
  --y-select-border-color: var(--y-color-border);
  --y-select-focus-border-color: var(--y-color-primary-8);
  --y-select-hover-border-color: var(--y-color-primary-8);
  --y-select-focus-shadow-color: var(--y-color-primary-1);
  --y-select-disabled-opacity: var(--y-disabled-opacity);
  --y-select-clear: var(--y-color-text-quaternary);
  --y-select-clear-hover: var(--y-color-text-tertiary);

  display: inline-block;

  @include e(title) {
    padding: var(--y-select-padding-block) var(--y-select-padding-inline);
    border-radius: 6px;
    cursor: pointer;

    @include m(inner) {
      flex: 1;

      @include when(placeholder) {
        color: var(--y-select-placeholder-color);
      }
    }

    @include when(bordered) {
      border: 1px solid var(--y-select-border-color);
    }

    @include when(focus) {
      border-color: var(--y-select-focus-border-color);
      box-shadow: 0 0 0 2px var(--y-select-focus-shadow-color);
    }

    &:not(.is-disabled):hover {
      border-color: var(--y-select-hover-border-color);
    }

    @include when(disabled) {
      cursor: not-allowed;
      opacity: var(--y-select-disabled-opacity);

      & * {
        cursor: not-allowed;
      }
    }
  }

  @include e(content) {
    --y-select-bg-color: var(--y-color-bg-elevated);
    --y-select-item-active-bg-color: var(--y-color-primary-2);
    --y-select-item-hover-bg-color: var(--y-color-fill-tertiary);

    background-color: var(--y-select-bg-color);
    box-shadow: $box-shadow-secondary;
    color: var(--y-pop-confirm-text-color);
    border-radius: 8px;
  }

  @include e(arrow) {
    position: relative;
    display: flex;
    align-items: center;
    width: 14px;
    margin-top: 6px;
    color: var(--y-select-arrow-color);
    margin-left: 5px;

    @include utils-arrow;
  }

  @include e(clear) {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: var(--y-select-clear);

    @include utils-close-icon(1px, 50%, rgb(255 255 255 / 70%));
    
    &:hover {
      background-color: var(--y-select-clear-hover);
    }
  }

  @include e(list) {
    max-height: 240px; 

    @include m(item) {
      padding: 5px 12px; 
      border-radius: 3px;
      cursor: pointer;

      &:hover { 
        background-color: var(--y-select-item-hover-bg-color);
      }

      @include when(active) {
        font-weight: 500;
        background-color: var(--y-select-item-active-bg-color);
      }
    }
  } 
}