@use "./mixins/mixins.scss" as *;
@use "./mixins/function.scss" as *;
@use "./mixins/config.scss" as *;
@use "./mixins/utils.scss" as *;

@include b(switch) {
  --y-switch-active-color: var(--y-color-primary);
  --y-switch-inactive-color: var(--y-color-info-7);
  --y-switch-height: 22px;
  --y-switch-double-height: calc(var(--y-switch-height) * 2);
  --y-switch-offset: 2px;
  --y-switch-padding-end: 9px;
  --y-switch-border-radius: 4px;
  --y-switch-font-size: var(--y-font-size);
  --y-switch-text-color: var(--y-text-color-1);
  --y-switch-double-offset: calc(var(--y-switch-offset) * 2);
  --y-switch-handle: calc(var(--y-switch-height) - var(--y-switch-double-offset));
  --y-switch-padding-start: calc(var(--y-switch-height) + var(--y-switch-offset));
  --y-switch-double: calc(var(--y-switch-double-height) + var(--y-switch-double-offset));
  --y-switch-disabled: var(--y-disabled-opacity);
}

@include b(switch) {
  display: inline-flex;
  position: relative;
  height: var(--y-switch-height);
  line-height: var(--y-switch-height);
  min-width: calc(var(--y-switch-height) * 2);
  box-sizing: border-box;
  border-radius: var(--y-switch-height);
  background-color: var(--y-switch-inactive-color);
  transition: all 0.2s;
  cursor: pointer;
  font-size: var(--y-font-size);
  color: var(--y-text-color-1);
  vertical-align: middle;

  @include e(handle) {
    position: absolute;
    top: var(--y-switch-offset);
    left: var(--y-switch-offset);
    height: var(--y-switch-handle);
    width: var(--y-switch-handle);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
  }

  @include e(inner) {
    display: block;
    overflow: hidden;
    border-radius: 100px;
    padding-inline-start: var(--y-switch-padding-start);
    padding-inline-end: var(--y-switch-padding-end);
    color: #fff;
    transition: padding-inline-start 0.2s ease-in-out, padding-inline-end 0.2s ease-in-out;

    @include m(checked) {
      display: block;
      margin-inline-start: calc(-100% + var(--y-switch-height) - var(--y-switch-double));
      margin-inline-end: calc(100% - var(--y-switch-height) + var(--y-switch-double));
      transition: margin-inline-start 0.2s ease-in-out, margin-inline-end 0.2s ease-in-out;
    }

    @include m(unchecked) {
      display: block;
      margin-top: calc(var(--y-switch-height) - var(--y-switch-double-height));
      margin-inline-start: 0;
      margin-inline-end: 0;
      transition: margin-inline-start 0.2s ease-in-out, margin-inline-end 0.2s ease-in-out;
    }
  }

  @include when(checked) {
    background-color: var(--y-switch-active-color);

    #{'.' + $b + $element-separator + 'handle'} {
      left: calc(100% - var(--y-switch-handle) - var(--y-switch-offset));
    }

    #{'.' + $b + $element-separator + 'inner'} {
      padding-inline-start: var(--y-switch-padding-end);
      padding-inline-end: var(--y-switch-padding-start);

      &#{$modifier-separator + 'checked'} {
        margin-inline-start: 0;
        margin-inline-end: 0;
      }

      &#{$modifier-separator + 'unchecked'} {
        margin-inline-start: calc(100% - var(--y-switch-height) + var(--y-switch-double));
        margin-inline-end: calc(-100% + var(--y-switch-height) - var(--y-switch-double));
      }
    }
  }

  @include when(disabled) {
    cursor: not-allowed;
    opacity: var(--y-switch-disabled);
  }

  @include when(loading) {
    cursor: wait;

    #{'.' + $b + $element-separator + 'handle'} {
      &::after {
        display: block;
        content: " ";

        @include loading(10px, 10px)
      }
    }
  }
}
