@use "./mixins/mixins.scss" as *;

@include b(tabs) {
  --y-tabs-nav-border-color: var(--y-color-border-secondary);
  --y-tabs-line-bg-color: var(--y-color-primary);
  --y-tabs-tab-card-bg-color: var(--y-color-fill-quaternary);
  --y-tabs-nav-active-text-color: var(--y-color-primary);
  --y-tabs-nav-radio-active-color: var(--y-color-primary);
}

@include b(tabs) {
  display: block;
  box-sizing: border-box;

  @include e(nav) {
    position: relative;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;

    &::before, &::after {
      display: block;
      border-bottom: 1px solid var(--y-tabs-nav-border-color);
      content: " "; 
    }

    &::after {
      flex: 1;
    }

    @include when('center') {
      &::before {
        flex: 1;
      }
    }
  }

  @include e(list) {
    position: relative;

    @include m(tab) {
      &:not(&:first-child) {
        &::before {
          display: block;
          content: "";
        } 
      }

      @include when(active) {
        color: var(--y-tabs-nav-active-text-color);
      }

      @include when (top) {
        &::before {
          width: 36px; 
          border-bottom: 1px solid var(--y-tabs-nav-border-color);
        }

        .#{$be + '--tab-btn'} {
          padding: 8px 0;
          border-bottom: 1px solid var(--y-tabs-nav-border-color);
        }
      }

      @include when (bottom) {
        &::before {
          width: 36px; 
          border-top: 1px solid var(--y-tabs-nav-border-color);
        }

        .#{$be + '--tab-btn'} {
          padding: 8px 0;
          border-top: 1px solid var(--y-tabs-nav-border-color);
        }
      }

      @include when(left) { 
        &::before {
          height: 16px;
          border-right: 1px solid var(--y-tabs-nav-border-color);
        }

        .#{$be + '--tab-btn'} {
          padding: 8px 10px;
          border-right: 1px solid var(--y-tabs-nav-border-color);
        }
      }

      @include when(right) {
        &::before {
          height: 16px;
          border-left: 1px solid var(--y-tabs-nav-border-color);
        }

        .#{$be + '--tab-btn'} {
          padding: 8px 10px;
          border-left: 1px solid var(--y-tabs-nav-border-color);
        }
      }
    }

    @include m(tab-btn) {
      cursor: pointer;
      box-sizing: border-box;
    }

    @include m(bar) {
      position: absolute;
      background: var(--y-tabs-line-bg-color);
      pointer-events: none;
      transition: width .3s, left .3s, right .3s, top .3s, bottom .3s;
      z-index: 1;

      @include when(hide) {
        display: none;
      }

      @include when (left) {
        width: 2px;
        right: 0;
      }

      @include when (right) {
        width: 2px;
        left: 0; 
      }

      @include when (top) {
        height: 2px;
        bottom: 0;
      }

      @include when (bottom) {
        height: 2px;
        top: 0;
      }
    }
  }
 
  @include e(content) {
    flex: 1;
  }
}
