@use "./common/transition.scss";
@use "./mixins/config.scss" as *;
@use "./mixins/mixins.scss" as *;
@use "./mixins/utils.scss" as *;

@include b(tooltip-container) {
  --y-hover-text-color: var(--y-color-primary);
  --y-hover-bg-color: var(--y-color-primary-1);
  --y-bg-color-overlay: var(--y-color-bg-elevated);
  --y-box-shadow: 0 0 6px var(--y-color-fill);
  --y-arrow-bg: var(--y-color-bg-elevated);
  
  position: fixed;
  left: 0;
  top: 0;
  height: 0;
  pointer-events: none;
  border-radius: 3px;
  color: var(--y-color-text);
  font-size: var(--y-font-size);
  
  @include e(content) {
    position: relative;
    z-index: auto;
    pointer-events: all;

    @include m('arrow') {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);

      @include when(bottom) {
        bottom: -10px;

        @include utils-arrow-fill(10px, 'top')
      }

      @include when(top) {
        top: -10px;

        @include utils-arrow-fill(10px, 'bottom')
      }

      @include when(right) {
        right: -10px;

        @include utils-arrow-fill(10px, 'left')
      }

      @include when(left) {
        left: -10px;

        @include utils-arrow-fill(10px, 'right')
      }
    }
  }
}
