@use "./mixins/mixins.scss" as *;
@use "./mixins/config.scss" as *;

@include b(upload) {
  --y-upload-text-color: var(--y-color-text);
  --y-upload-border-color: var(--y-color-border);
  --y-upload-hover-border-color: var(--y-color-primary);
  --y-upload-icon-color: var(--y-color-text-tertiary);
  --y-upload-item-width: 102px;
  --y-upload-image-overlay-color: var(--y-mask-bg-color);
}

@include b(upload) {
  width: 100%;

  @include e(input) {
    display: none;
  }

  @include e(button) {
    width: var(--y-upload-item-width);
    height: var(--y-upload-item-width);
    border: 1px dashed var(--y-upload-border-color);
    border-radius: 8px;
    cursor: pointer;

    &:hover {
      border-color: var(--y-upload-hover-border-color);
    } 

    @include m(icon) { 
      position: relative;
      width: 12px;
      height: 12px;

      &::before {
        position: absolute;
        content: "";
        height: 100%;
        width: 2px;
        background-color: var(--y-upload-icon-color);
        left: 50%;
        transform: translateX(-50%);
      } 

      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        background-color: var(--y-upload-icon-color);
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  @include e(image) {
    position: relative;
    width: var(--y-upload-item-width);
    height: var(--y-upload-item-width);
    padding: 8px;
    border-radius: 8px;
    border: 1px solid var(--y-upload-border-color);
    box-sizing: border-box;

    &::before {
      position: absolute;
      width: calc(100% - 16px);
      height: calc(100% - 16px);
      z-index: 1;
      opacity: 0;
      background-color: var(--y-upload-image-overlay-color);
      content: " ";
      transition: all 0.3s;
    }

    &:hover {
      &::before {
        opacity: 1;
      }

      .#{$be + $modifier-separator + 'actions'} {
        display: block;
      }
    }

    @include m(actions) {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 2;
      display: none;
      transform: translate(-50%, -50%);
    }
  }
}
