@use "../mixins/config.scss" as *;

$transition-md-fade: transform .3s cubic-bezier(.23, 1, .32, 1), opacity .3s cubic-bezier(.23, 1, .32, 1);

.#{$namespace}-fade-in-enter-active,
.#{$namespace}-fade-in-leave-active {
  transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}

.#{$namespace}-fade-in-enter-from,
.#{$namespace}-fade-in-leave-active {
  opacity: 0;
}

.#{$namespace}-zoom-in-top-enter-active,
.#{$namespace}-zoom-in-top-leave-active {
  opacity: 1;
  transform: scaleY(1);
  transition: $transition-md-fade;
  transform-origin: center top;
}
.#{$namespace}-zoom-in-top-enter-from,
.#{$namespace}-zoom-in-top-leave-active {
  opacity: 0;
  transform: scaleY(0);
}

// ellipsis动画
.#{$namespace}-ellipsis-enter-from, .#{$namespace}-ellipsis-leave-to {
  opacity: 0;
  transform: scale(.85);
}

.#{$namespace}-ellipsis-enter-to, .#{$namespace}-ellipsis-leave-from {
  transform: scale(1);
  opacity: 1;
}

.#{$namespace}-ellipsis-enter-active {
  transition: opacity .15s cubic-bezier(0, 0, .2, 1), transform .15s cubic-bezier(0, 0, .2, 1);
}

.#{$namespace}-ellipsis-leave-active {
  transition: opacity .15s cubic-bezier(.4, 0, 1, 1), transform .15s cubic-bezier(.4, 0, 1, 1);
}

// imagePreview动画
.#{$namespace}-fade-in-scale-leave-active {
  transition: opacity .2s cubic-bezier(.4, 0, 1, 1), transform .2s cubic-bezier(.4, 0, 1, 1);
}

.#{$namespace}-fade-in-scale-enter-active {
  transition: opacity .2s cubic-bezier(0, 0, .2, 1), transform .2s cubic-bezier(0, 0, .2, 1);
}

.#{$namespace}-fade-in-scale-enter-from, .#{$namespace}-fade-in-scale-leave-to {
  opacity: 0;
  transform: scale(.9);
}

.#{$namespace}-fade-in-scale-leave-from, .#{$namespace}-fade-in-scale-enter-to {
  opacity: 1;
  transform: scale(1);
}

// tooltip动画
.#{$namespace}-popover-transition-enter-from, .#{$namespace}-popover-transition-leave-to {
  opacity: 0;
  transform: scale(.85);
}
.#{$namespace}-popover-transition-enter-to, .#{$namespace}-popover-transition-leave-from {
  transform: scale(1);
  opacity: 1;
}
.#{$namespace}-popover-transition-enter-active {
  transition:
    box-shadow .3s cubic-bezier(.4, 0, .2, 1),
    background-color .3s cubic-bezier(.4, 0, .2, 1),
    color .3s cubic-bezier(.4, 0, .2, 1),
    opacity .15s var(--n-bezier-ease-out),
    transform .15s var(--n-bezier-ease-out);
}
.#{$namespace}-popover-transition-leave-active {
  transition:
    box-shadow .3s cubic-bezier(.4, 0, .2, 1),
    background-color .3s cubic-bezier(.4, 0, .2, 1),
    color .3s cubic-bezier(.4, 0, .2, 1),
    opacity .15s cubic-bezier(.4, 0, 1, 1),
    transform .15s cubic-bezier(.4, 0, 1, 1);
}

// 改变宽的动画
.#{$namespace}-fade-in-width-expand-leave-from, .#{$namespace}-fade-in-width-expand-enter-to {
  opacity: 1;
}

.#{$namespace}-fade-in-width-expand-leave-to, .#{$namespace}-fade-in-width-expand-enter-from {
  opacity: 0!important;
  margin-left: 0!important;
  margin-right: 0!important;
}

.#{$namespace}-fade-in-width-expand-leave-active {
  overflow: hidden;
  transition:
    opacity .2s cubic-bezier(.4, 0, .2, 1),
    max-width .2s cubic-bezier(.4, 0, .2, 1) 0.1s,
    margin-left .2s cubic-bezier(.4, 0, .2, 1) 0.1s,
    margin-right .2s cubic-bezier(.4, 0, .2, 1) 0.1s;
}

.#{$namespace}-fade-in-width-expand-enter-active {
  overflow: hidden;
  transition:
    opacity .2s cubic-bezier(.4, 0, .2, 1) 0.1s,
    max-width .2s cubic-bezier(.4, 0, .2, 1),
    margin-left .2s cubic-bezier(.4, 0, .2, 1),
    margin-right .2s cubic-bezier(.4, 0, .2, 1);
}
