@use "../mixins/config.scss" as *;

$transition-md-fade: transform .3s cubic-bezier(.23, 1, .32, 1), opacity .3s cubic-bezier(.23, 1, .32, 1);

.#{$namespace}-fade-in-enter-active,
.#{$namespace}-fade-in-leave-active {
  transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}

.#{$namespace}-fade-in-enter-from,
.#{$namespace}-fade-in-leave-active {
  opacity: 0;
}

.#{$namespace}-zoom-in-top-enter-active,
.#{$namespace}-zoom-in-top-leave-active {
  opacity: 1;
  transform: scaleY(1);
  transition: $transition-md-fade;
  transform-origin: center top;
}
.#{$namespace}-zoom-in-top-enter-from,
.#{$namespace}-zoom-in-top-leave-active {
  opacity: 0;
  transform: scaleY(0);
}

.#{$namespace}-tooltip-enter-from, .#{$namespace}-tooltip-leave-to {
  opacity: 0;
  transform: scale(.85);
}

.#{$namespace}-tooltip-enter-to, .#{$namespace}-tooltip-leave-from {
  transform: scale(1);
  opacity: 1;
}

.#{$namespace}-tooltip-enter-active {
  transition: opacity .15s cubic-bezier(0, 0, .2, 1), transform .15s cubic-bezier(0, 0, .2, 1);
}

.#{$namespace}-tooltip-leave-active {
  transition: opacity .15s cubic-bezier(.4, 0, 1, 1), transform .15s cubic-bezier(.4, 0, 1, 1);
}
