@use "../mixins/set-color-level.scss" as *;
@use "../mixins/config.scss" as *;

// types
$types: primary, success, warning, danger, error, info;
$light: 0, 3, 5, 7, 8, 9;
$text: (primary, 0.85), (secondary, 0.65), (tertiary, 0.45), (quaternary, 0.25);

:root {
  // 主题的rgb色值
  --#{$namespace}-theme-red: 255;
  --#{$namespace}-theme-green: 255;
  --#{$namespace}-theme-blue: 255;

  // 主颜色
  --#{$namespace}-primary-red: 64;
  --#{$namespace}-primary-green: 158;
  --#{$namespace}-primary-blue: 255;

  // 成功颜色
  --#{$namespace}-success-red: 103;
  --#{$namespace}-success-green: 194;
  --#{$namespace}-success-blue: 58;

  // 警告颜色
  --#{$namespace}-warning-red: 230;
  --#{$namespace}-warning-green: 162;
  --#{$namespace}-warning-blue: 60;

  // 危险颜色
  --#{$namespace}-warning-red: 245;
  --#{$namespace}-warning-green: 108;
  --#{$namespace}-warning-blue: 108;

  // 信息颜色
  --#{$namespace}-warning-red: 144;
  --#{$namespace}-warning-green: 147;
  --#{$namespace}-warning-blue: 153;

  @each $type in $types {
    @each $i in $light {
      @include set-color-level($type, $i, 'theme');
    }
  }

  // 中性的rgb色值
  --#{$namespace}-neutral-red: 0;
  --#{$namespace}-neutral-green: 0;
  --#{$namespace}-neutral-blue: 0;
  // 文本颜色
  @for $i from 1 through length($text) {
    $item: nth($text, $i);
    @include set-color-transparency(nth($item, 1), nth($item, 2))
  }
}
